<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>JoRo Learning</title>
  <link rel="stylesheet" href="style.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
  <div class="container">
    <header class="hero-header">
        <img src="/static/images/banner.jpg" alt="Banner" class="header-img" />
        <div class="nav-row">
            <a href="#about" class="nav-item">about us</a>
            <a href="#language" class="nav-item">language</a>
          </div>  
    </header>
    <div class="cta-container">
      <button class="cta-button">get started</button>
    </div>

    <div class="features">
      <div class="feature">feature 1</div>
      <img src="/static/images/img1.jpg" alt="img1" />
      <img src="/static/images/img2.jpg" alt="img2" />
      <div class="feature">feature 2</div>
      <div class="feature">feature 3</div>
      <img src="/static/images/img3.jpg" alt="img3" />
    </div>

    <footer>
      <div class="footer-nav">
        <div class="footer-link">help</div>
        <div class="footer-link">privacy policy</div>
        <div class="footer-link">Contact Us</div>
      </div>
      <div class="copyright">© copyright 2025, JoRoEd. All rights reserved</div>
    </footer>
  </div>
</body>
</html>
