<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Courses</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="container">
    <div class="nav-row">
      <a class="nav-item" href="/home">Home</a>
      <a class="nav-item" href="/courses">All Courses</a>
      <a class="nav-item" href="/logout">Logout</a>
    </div>
    
    <h1 class="hero-header">My Courses</h1>

    <div class="course-grid">
      {% for course in courses %}
  <div class="course-card">
    <h3>{{ course.title }}</h3>
    <p>{{ course.description }}</p>

    <h4>Lessons:</h4>
    <ul>
            {% for lesson in course.lessons %}
              <li><a href="{{ url_for('lesson_page', lesson_id=lesson.lesson_id) }}">{{ lesson.title }}</a></li>
            {% endfor %}
          </ul>

          <h4>Quizzes:</h4>
            <ul>
              {% for quiz in course.quizzes %}
                <li>
                  {{ quiz.title }} - {{ quiz.total_marks }} marks
                  <a href="{{ url_for('attend_quiz', quiz_id=quiz.quiz_id) }}" class="btn btn-success">Attend Quiz</a>
                </li>
              {% endfor %}
            </ul>

        </div>
      {% endfor %}

    </div>
  </div>

</body>
</html>