<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Courses</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="container">
    <div class="nav-row">
      <a class="nav-item" href="/home">Home</a>
      <a class="nav-item" href="/courses">All Courses</a>
      <a class="nav-item" href="/logout">Logout</a>
    </div>

    <h1 class="hero-header">My Enrolled Courses</h1>

    <div class="course-grid">
      {% for course in courses %}
        <div class="course-card">
          <div class="course-title">
            <a href="{{ url_for('course_page', course_id=course.course_id) }}">
              {{ course.title }}
            </a>
          </div>
          
          <div class="course-desc">{{ course.description }}</div>

          <div class="lesson-list">
            <h3>Lessons:</h3>
            <ul>
              {% for lesson in course.lessons %}
                <li><a href="{{ url_for('lesson_page', lesson_id=lesson.lesson_id) }}">{{ lesson.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {% if course.quizzes %}
              {% for quiz in course.quizzes %}
                <div style="margin-top: 10px;">
                  <a href="{{ url_for('attend_quiz', quiz_id=quiz.quiz_id) }}" class="cta-button">Attend Quiz</a>
                </div>
              {% endfor %}
            {% endif %}


        </div>
      {% endfor %}
    </div>
  </div>

</body>
</html>